body{
    color: white;
    background-color: #1a4797;
    margin: 0;
    font-family: 'Poppins', sans-serif; 
    overflow-x: hidden;
}

.welcome{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 100px;
    
}

.header{
    margin: 0;
    margin-left: 180px;
    font-size: 50px;
    padding: 0 !important;
}

.blue{
    margin: 100px;
}

.top{
    flex: 1;
    position: absolute;
}

.bottom{
    flex: 1;
    background:#101325;
    margin-left: 500px;
    position: relative; 
    top: 30px;
    padding: 15px 0;
    width: auto;
}

.bottom p{
    padding: 0 180px;
}

.know{
    text-align: center;
    font-size: 50px;
}

.us h4{
    font-size: 25px;
}

.welcome img{
    height: 250px;
    width: 700px;
}

.us, .features, .contacts{
    display: flex;
    flex-direction: row;
    padding: 0 200px;
}

.left, .right, .text, .form, .touch{
    flex: 1;
    text-align: center;
}


.us i, .number{
    font-size: 50px;
    color: #ea3692;
    display: block;
    margin: 0 auto;
}

.us p{
    width: 90%;
}

.features{
    flex-direction: column;
    background-color: #101325;
}

.text{
    width: 35%;
    margin: 0 400px;
    text-align: start;
    /* margin-left: 545px; */
    animation: slideUp 3s ease forwards;
}

.number{
    font-size: 100px;
    margin: 0 350px;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    60% {
        transform: translateY(-10%);
    }
    80% {
        transform: translateY(5%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.team {
    text-align: center;
    margin-top: 100px;
}

/* .team h1, .team p {
    margin-bottom: 20px;
} */

.founders {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.founders .ntombi, .founders .mphile {
    width: 48%; 
    text-align: center;
}

.founders img {
    width: 55%;
}

/* .founders {
    margin-top: 20px;
} */

.f{
    width: 50%; 
    padding-left: 300px;
   
}

.mphile img{
    height: 388px;
}

.about{
    /* width: 50%; */
    padding-left: 20px;
    text-align: left;
}

.bio h4{
    text-align: left;
    padding-left: 20px;
}

.bio{
    background-color: #6ca7da;
    margin: 0 22%;
    margin-top: -80px;
    position: relative;
    z-index: 1;
}

.socials{
    color: black;
    font-size: 10px;
    text-align: start;
    padding-left: 20px;
}

.touch{
    background: white;
    color: black;
    margin: 0 300px;
    margin-left: 0;
    height: 400px;
}

.touch p{
    margin-top: 50px;
}

.touch h4{
    margin-top: 70px;
    font-size: 25px;
}

.touch .socials{
    margin-left: 150px;
}

.contacts{
    padding: 0;
    padding-top: 100px;
    background-color: #101325;
}


.name {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: center;
}

.name input{
    margin: 0 10px;
}

textarea{
    background: #101325;
    color: white;
    width: 100%;
    border: 1px solid white;
}

input {
    flex: 1; 
    background: #101325;
    color: white;
    width: 100%;
    border: 1px solid white;
}

input[type=submit] {
    width: 99%;
    background-color: #ea3692;
    color: white;
    cursor: pointer;
  }

.form{
    background-color: #101325;
    text-align: start;
    margin-top: 60px;
    margin-right: 200px;
}

.msg input{
    width: 98%;
}

#message{
    height: 50px;
}

.footer{
    display: flex;
    background: #101325;
}

.footer h4{
    flex: 1;
    padding: 0 200px;
    padding-top: 50px;
    font-size: 25px;
}

.baphathi{
    flex: 1;
}

.address{
    flex: 1;
}

@keyframes popAnimation {
    0% { transform: translateY(100px); } 
    50% { transform: translateY(0); } 
    100% { transform: translateY(0); } 
}

.pop {
    animation: popAnimation 1.0s ease-in-out; 
}

h4, h1{
    font-weight: normal;
}

.features h1{
    text-align: center;
    font-size: 50px;
    margin: 0;
}

.two{
    margin-right: 150px;
}

.two .number{
    margin-left: 600px;
}

.two .text{
    margin: 0 650px;
}

hr{
    width: 2%;
    margin-top: -13px;
}

@media (max-width: 767px) {
    /* body{
        width: 105%;
    } */
    .blue{
        margin: 0;
        /* width: 955px; */
    }

    .welcome img{
        width: 100%;
    }

    .bottom p{
        /* width: 500px; */
        padding: 0;
    }

    .bottom{
        margin-left: 0;
        top: 200px;
        padding: 0 50px;
    }

    .header{
        margin-left: 0;
    }

    .us{
        padding: 0;
        flex-direction: column;
        /* margin: 0 200px; */
    }

    .us p{
        width: auto;
        padding: 0 50px;
    }

    .features{
        width: 100%;
        padding: 0;
    }

    .features h1{
        padding: 0 50px;
    }

    hr{
        display: none;
    }

    .text{
        width: 80%;
        margin: 0;
        padding: 0 50px;
        text-align: center;
    }

    .two .text{
        margin: 0;
    }

    .two{
        margin: 0;
    }

    .two .number, .number {
        margin: 0;
        text-align: center;
    }

    .know{
        padding: 0 50px;
        padding-top: 100px;
    }

    .team{
        margin-top: 50px;
    }

    .f{
        width: auto;
        padding: 0 50px;
    }

    .founders{
        align-items: center;
        flex-direction: column;
    }

    .founders .ntombi, .founders .mphile{
        width: auto;
    }

    .bio{
        margin: 0 10%;
        margin-top: -80px;
    }

    .founders .mphile{
        margin-top: 50px;
    }

    .founders img{
        width: 80%;
    }

    .touch{
        margin: 0;
    }

    .contacts{
        flex-direction: column;
    }

    .form{
        margin-right: 0;
        padding: 0 50px;
    }

    .name{
        flex-direction: column;
        align-items: baseline;
    }

    input{
        width: 98%;
    }

    .name input{
        margin: 0;
    }

    .footer{
        flex-direction: column;
        text-align: center;
    }

    .footer h4{
        padding: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .blue{
        margin: 0;
        /* padding: 0 50px; */
    }

    .welcome img{
        width: auto;
    }

    .welcome{
        padding-bottom: 50px;
    }

    .bottom{
        margin-left: 381px;
        width: auto;
        /* padding: 25px 0; */
    }

    .bottom p{
        padding: 0;
    }

    .header{
        margin-left: 100px;
    }

    .us{
        padding: 0 50px;
    }

    .features{
        padding: 0;
    }

    .two{
        margin-right: 0;
    }

    .number{
        margin: 0 150px;
    }

    .text{
        margin: 0 200px;
    }

    .two .number{
        margin-left: 400px;
    }

    .two .text{
        margin: 0 460px;
    }

    .f{
        margin-left: 190px;
        width: 50%;
        padding-left: 0;
    }

    .bio{
        margin: 0 22.5%;
        margin-top: -80px;
    }

    .mphile img{
        height: 275px;
    }

    .contacts{
        flex-direction: column;
        padding: 0 100px;
    }

    .touch{
        margin: 0 140px;
        margin-top: 50px;
    }

    .socials{
        margin-left: 35%;
    }

    .touch .socials{
        margin-left: 35%;
    }

    .form{
        margin-right: 0;
    }
    
    .footer h4{
        flex: 0.5;
        padding: 0;
        padding-left: 100px;
        
    }

    .address{
        flex: 1.5;
    }
}